<!doctype html>

<html>
	<head>
		<title>d2l-rubric test</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
		<script src="../../../webcomponentsjs/webcomponents-lite.js"></script>
		<script src="../../../web-component-tester/browser.js"></script>
		<script src="../../../fetch/fetch.js"></script>
		<script src="../test-polyfill.js"></script>
		<script src="../../node_modules/attest/attest.js"></script>
		<script src="./ally-test-script.js"></script>

		<link rel="import" href="../../d2l-rubric.html">
	</head>
	<body>
		<test-fixture id="basic">
			<template>
				<d2l-rubric></d2l-rubric>
			</template>
		</test-fixture>
		<script>
		/* global suite, test, fixture, expect, suiteSetup, suiteTeardown, sinon */

		'use strict';

		suite('<d2l-rubric>', function() {

			var element, sandbox;

			suiteSetup(function(done) {
				sandbox = sinon.sandbox.create();
				element = fixture('basic');

				function waitForLoad(e) {
					if (e.detail.entity.getLinkByRel('self').href === 'static-data/rubrics/organizations/text-only/199.json') {
						element.removeEventListener('d2l-siren-entity-changed', waitForLoad);
						done();
					}
				}
				element.addEventListener('d2l-siren-entity-changed', waitForLoad);
				element.href = 'static-data/rubrics/organizations/text-only/199.json';
				element.token = 'foozleberries';
			});

			suiteTeardown(function() {
				sandbox.restore();
			});

			suite('smoke test', function() {

				test('can be instantiated', function() {
					expect(element.is).to.equal('d2l-rubric');
				});

				test('can show content', function() {
					expect(element._showContent).to.be.true;
				});

				test('has no assessment', function() {
					expect(element.assessmentHref).to.be.undefined;
					expect(element.assessmentEntity).to.be.null;
					expect(element._score).to.be.null;
				});
			});

			suite('do not show content until entity loaded', function() {
				suiteSetup(function() {
					element = fixture('basic');
				});

				test('do not show content without href', function() {
					expect(element._showContent).to.be.false;
				});

				test('show content after loading', function(done) {
					element = fixture('basic');
					function waitForLoad(e) {
						if (e.detail.entity.getLinkByRel('self').href === 'static-data/rubrics/organizations/text-only/199.json') {
							expect(element._showContent).to.be.true;
							element.removeEventListener('d2l-siren-entity-changed', waitForLoad);
							done();
						}
					}
					element.addEventListener('d2l-siren-entity-changed', waitForLoad);
					element.href = 'static-data/rubrics/organizations/text-only/199.json';
					element.token = 'foozleberries';
					expect(element._showContent).to.be.false;
				});

				test('check for spinner on page', function() {
					var loaderElement = element.$$('d2l-rubric-loading');
					expect(loaderElement).to.exist;
				});
			});

			suite ('Ally Test',function(){
				suiteSetup(function(){
					if (!isAttestInstalled()){
						this.skip();
					}
				});
				test('d2l-rubric ally checks',function(){
					ally_tests();
				});
			});
		});
		</script>

		<test-fixture id="rub-text-only">
			<template>
				<d2l-rubric href='data/rubrics/organizations/text-only-no-edit/199.json' token='foozleberries'></d2l-rubric>
			</template>
		</test-fixture>
		<script>
		/* global suite, test, fixture, expect, suiteSetup, suiteTeardown, sinon */

		'use strict';

		suite('<d2l-rubric-text-only>', function() {

			var myElement, sandbox;
			function myAsyncFunction(callback) {
				// 500ms delay before callback
				setTimeout(function() {
				  callback(myElement);
				}, 500);
			  }

			suiteSetup(function() {
				sandbox = sinon.sandbox.create();
				myElement = fixture('rub-text-only');
			});

			suiteTeardown(function() {
				sandbox.restore();
			});

			suite('Text Only Rubric', function() {
				test('Out of container is hidden if using a text only rubric', function(done) {
					myAsyncFunction(function(myElement){
						var outOfContainer;
						outOfContainer = Polymer.dom(myElement.root).querySelector('.out-of-container');
						expect(outOfContainer.attributes).to.have.ownProperty('hidden');
						done();
					});
				});

				test('Overall Score section is not rendered if the rubric has no overall score', function(done) {
					myAsyncFunction(function(myElement){
						expect(!Polymer.dom(myElement.root).querySelector('.overall-levels'));
						done();
					});
				});
			});


		});
		</script>

		<test-fixture id="rub-overall-score">
			<template>
				<d2l-rubric href='data/rubrics/organizations/overall-score/200.json' token='foozleberries'></d2l-rubric>
			</template>
		</test-fixture>
		<script>
		/* global suite, test, fixture, expect, suiteSetup, suiteTeardown, sinon */

		'use strict';

		suite('<d2l-rubric-overall-score>', function() {

			var myElement, sandbox;
			function myAsyncFunction(callback) {
				// 500ms delay before callback
				setTimeout(function() {
				  callback(myElement);
				}, 500);
			  }

			suiteSetup(function() {
				sandbox = sinon.sandbox.create();
				myElement = fixture('rub-overall-score');
			});

			suiteTeardown(function() {
				sandbox.restore();
			});

			suite('Rubric with Overall Score', function() {

				test('Overall Score section is rendered', function(done) {
					myAsyncFunction(function(myElement){
						expect(!!Polymer.dom(myElement.root).querySelector('.overall-levels'));
						done();
					});
				});
			});


		});
		</script>

	</body>
</html>
